
@media only screen and (max-width: 500px) {
  body > header > nav > div.divNavLeft > a:nth-child(1),
  a:nth-child(2),
  a:nth-child(3),
  a:nth-child(4),
  a:nth-child(5) {
    font-size: 0.7rem;
  }

  .divNavLeft {
    flex-direction: column;
  }

  .divNavMiddile h1 {
    font-size: 1.1rem;
  }

  .divNavRight {
    font-size: 0.7rem;
    height: 4vh;
  }

  .article1 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 80%;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }

  body > main > article.article1 > h2 {
    font-size: 1rem;
  }

  .article2 {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  body > main > article.article2 > img {
    height: 34vh;
  }

  .divArticle4 {
    flex-direction: column;
  }

  .divArticle5 {
    flex-direction: column;
  }

  .pTitleArt5 {
    font-size: 1.5rem;
  }

  .pContenArt5 {
    font-size: 0.7rem;
  }

  .divLeftContentArt5 {
    margin-top: 2vh;
  }

  body > main > article.article5 > div > div.divRightArticle5 > img {
    height: 54vh;
  }

  body > main > article.article6 {
    margin-top: 48vh;
  }

  body > main > article.article7 > div > div > img {
    height: 23vh;
  }

  .divArticle8 {
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .divRightArt8 img {
    height: 24vh;
    margin-top: -17vh;
  }

  .divSeparator {
    margin-top: 1vh;
  }

  body > footer {
    margin-top: 1vh;
  }
}

/*1080px*/
@media only screen and (max-width: 820px) and (min-width: 391px) {
  p.pArticle3 {
    font-size: 0.8rem;
  }
  .pDollar {
    font-size: 1rem;
  }
  .pFlatRate {
    font-size: 0.8rem;
  }
  .article2{
    margin-left: auto;
    margin-right: auto;
  }
  .article3 {
    margin-top: 3vh;
  }

  .divArticle4{
    margin-top: 5vh;
  }
  body > main > article.article4 > div > div.divLeftArticle4 > img {
    height: 38vh;
}

.divLeftArticle4{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.titleDiliverablesArticle4{
    font-size: 1rem;
}

.pTitleArticle4, .pTextArticle4{
    font-size: 0.8rem;
}

.pTextArticle4{
  width: 90%;
}
.divRightArticle4 {
    width: 75%;
}

.article5 {
    width: 80%;
}

.pTitleArt5{
    font-size: 1rem;
}

.pContentArt5{
    font-size: 0.8rem;   
}

  main {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .icon {
    display: flex;
    /* justify-content: end; */
    width: 31px;
    cursor: pointer;
    height: 20px;
    margin-top: 9px;
    padding-top: 5px;
  }

  #myNav a {
    display: none;
  }

  header {
    display: flex;
    justify-content: baseline !important;
  }
  body > header > nav > div.divNavLeft > a:nth-child(1),
  a:nth-child(2),
  a:nth-child(3),
  a:nth-child(4),
  a:nth-child(5) {
    font-size: 0.7rem;
  }

  .divNavLeft {
    flex-direction: column;
  }

  .divNavMiddile h1 {
    font-size: 1rem;
  }

  .divNavRight {
    font-size: 0.7rem;
    height: 4vh;
  }

  body > main > article.article1 > h2 {
    font-size: 1rem;
  }

  body > main > article.article2 > img {
    height: 42vh;
  }

  .article4{
    width:88%;
  }

.article1, .article2 {
    width: 80%;
}

.article5 {
  height: 54vh;
  margin-top: 5vh;
}

  .divArticle4 {
    flex-direction: row;
  }

  .divArticle5 {
    flex-direction: row;
    
  }

  .divRightArticle5{
    display: flex;
    align-items: center;
  }

  .pContenArt5 {
    font-size: 0.7rem;
  }

  .divLeftContentArt5 {
    margin-top: 2vh;
  }

  .article6 h2 {
    font-size: 1rem;
}

.pArticle6{
  font-size:0.8rem;
}

  body > main > article.article5 > div > div.divRightArticle5 > img {
    height: 35vh !important;
  }

  body > main > article.article6 {
    margin-top: 5vh;
    width:80%;
  }
 

  .divSeparator {
    margin-top: 3vh;
  }

  body > footer {
    margin-top: 1vh;
  }

  body > main > article.article7 > div > div > img {
  display: none;
  }

  .article7{
    background-image: url(../img/twentyeight.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    min-height: 26.5vh;
    margin-top: 5vh;
    width: 84%;
  }

  .article8{
    margin-left: auto;
  }

  .divArticle8{
    display: block;
    width: 100%;
  }

  .divRightArt8 img {
    display: none;
}

.pArt8 {
  font-size: 0.8rem;
  width: 40%;
  line-height: 1rem;
}

.footerQuestion > h2 {
  font-size: 1rem;
}

.footerQuestion{
  text-align: center;
}

.pBottom{
  font-size: 0.8rem;
}

.divBottom img{
  height:5vh;
}


}


@media only screen and (max-width: 973px) {
  body > main > article.article5 > div > div.divRightArticle5 > img {
    height: 45vh;
}
}


@media only screen and (max-width: 391px) {

  p.pArticle3 {
    font-size: 0.5rem;
  }
  .pDollar {
    font-size: 0.7rem;
  }
  .pFlatRate {
    font-size: 0.5rem;
  }
  .article2{
    margin-left: auto;
    margin-right: auto;
  }
  .article3 {
    margin-top: 3vh;
  }
  .article4 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}


  .divArticle4{
    margin-top: 5vh;
  }
  body > main > article.article4 > div > div.divLeftArticle4 > img {
    height: 38vh;
}

.divLeftArticle4{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.titleDiliverablesArticle4{
    font-size: 0.8rem;
}

.pTitleArticle4, .pTextArticle4{
    font-size: 0.5rem;
}

.pTextArticle4{
  width: 90%;
}
.divRightArticle4 {
    width: 75%;
}

.divRightArticle4 {
  gap: 1.5vh;
}

.article5 {
    width: 80%;
}

.pTitleArt5{
    font-size: 0.7rem;
}

.pContentArt5{
    font-size: 0.5rem;   
}
.divLeftContentArt5 {
  margin-left: 1.5vw;
}

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .icon {
    display: flex;
    /* justify-content: end; */
    width: 31px;
    cursor: pointer;
    height: 20px;
    margin-top: 9px;
    padding-top: 5px;
  }
  body > main > article.article1 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.15rem;
    margin-top: 5vh;
    width: 66vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

  #myNav a {
    display: none;
  }

  header {
    display: flex;
    justify-content: baseline !important;
  }
  body > header > nav > div.divNavLeft > a:nth-child(1),
  a:nth-child(2),
  a:nth-child(3),
  a:nth-child(4),
  a:nth-child(5) {
    font-size: 0.7rem;
  }

  .divNavLeft {
    flex-direction: column;
  }

  .divNavMiddile h1 {
    font-size: 0.8rem;
  }

  .divNavRight {
    font-size: 0.5rem;
    width: 69px;
  }

  body > main > article.article1 > h2 {
    font-size: 0.8rem;
  }

  body > main > article.article2 > img {
    height: 17vh;
  }

  .article4{
    width:88%;
  }

  .article3 > div.divArticle3 {
    gap: 3%;
    width: 100%;
}

.article1, .article2 {
    width: 80%;
}

.article5 {
  height: 54vh;
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;

}

  .divArticle4 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .divArticle5 {
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .divRightArticle5{
    display: flex;
    align-items: center;
  }

  .pContenArt5 {
    font-size: 0.7rem;
  }

  .divLeftContentArt5 {
    margin-top: 2vh;
  }

  .article6 h2 {
    font-size: 0.7rem;
}

.pArticle6{
  font-size:0.5rem;
}

  body > main > article.article5 > div > div.divRightArticle5 > img {
    height: 35vh !important;
  }

  body > main > article.article6 {
    margin-top: 5vh;
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
body > main > article.article6 > div {
  margin-top: 2vh;
}
  .divSeparator {
    margin-top: -4vh;
  }

  body > footer {
    margin-top: 1vh;
  }

  body > main > article.article7 > div > div > img {
  display: none;
  }

  .article7{
    background-image: url(../img/twentyeight.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    min-height: 26.5vh;
    margin-top: 5vh;
    width: 84%;
  }

  .article8{
    margin-left: auto;
  }

  .divArticle8{
    display: block;
    width: 100%;
  }

  .divRightArt8 img {
    display: none;
}

.pArt8 {
  
  line-height: 1rem;
  font-size: 0.5rem;
  width: 50%;
  margin-top: -130px;
}

.footerQuestion > h2 {
  font-size: 0.7rem;
}

.footerQuestion{
  text-align: center;
  margin-top: 1vh;
}

.pBottom{
  font-size: 0.5rem;
}

.divBottom img{
  height:2.5vh;
}

.divBottom {
  margin-bottom: 3vh;
  margin-top: 3vh;
}
body{
  height: 245vh;
}
}


@media only screen and (max-width: 973px) {
  body > main > article.article5 > div > div.divRightArticle5 > img {
    height: 45vh;
}



}