*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.divNavLeft a {
    font-family: 'graphik-regular';
}

.divNavRight a {
    font-family: 'graphik-medium';
}

.divNavMiddile h1 {
    font-family: 'tiemposheadline-semibold';
}


body > header > nav {
display: flex;
justify-content: space-around;
margin-top:1vh;
}

body > header > nav > div:nth-child(1) {
    gap: 10px;
    display: flex;
} 

body > header > nav div a:visited {
    color:#2B2C2E;
    text-decoration: none;
}

.divNavRight {
    display:flex;
    gap: 10px;
    border:1px solid #2B2C2E;
    border-radius: 3px;
    padding-left: 3%;
    padding-right: 3%;
}

header nav div a {
    color:#2B2C2E;
    text-decoration: none;
    margin-top:1vh;
}

.article1 h2{
    font-family: 'graphik-regular';
}

body > main > article.article1 {
    display: flex;
    justify-content: center;
    font-size: 1.15rem;
    margin-top: 10vh;
}

body > main > article.article2 > img {
    height:66vh;
}

.article2{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.article3 {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.article3 > div.divArticle3{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    width: 80%;
}

.divLeftArticle3 {
flex:2;
}

.divRightArticle3 {
flex:1;
}

body > main > article.article3 > div > div.divLeftArticle3 > p.pArticle3 {
   font-family: 'graphik-medium';
   line-height: 1.5em;
   word-spacing: 2px;
} 

.pDollar{
  font-family: 'theinhardt-lt';  
  font-size: 2.2rem;
  font-weight: bold;
}

.pFlatRate {
    font-family: 'theinhardt-lt';   
    color:#9FA2A7;
    width: 50%;
}

.titleDiliverablesArticle4 {
    font-size: 3rem;
    font-weight: bold;
    font-family:'thiemposHeadline-semibold';
}

.pTitleArticle4 {
    font-family:'graphik-medium';
}

.pTextArticle4{
    font-family: 'theinhardt-lt';
    color:#848689; 
}

.article4 {
    display:flex;
    justify-content: center;
}

.divArticle4{
    display: flex;
    width:80%;
    margin-top: 18vh;
    gap: 17px;
}

body > main > article.article4 > div > div.divLeftArticle4 > img {
    height:66vh;
}

.divRightArticle4 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
}

.divArticle5 {
    background-color: #f1f0f5;
}

body > main > article.article5 > div > div.divRightArticle5 > img {
    height:66vh;
}

.pTitleArt5 {
    font-family: 'tiemposheadline-semibold';
    font-size: 2.5rem;
}

.divLeftContentArt5 {
    margin-left: 7%;
    margin-top: 5vh;
}

.article5 {
    display: flex;
   justify-content:center ;
   height: 65vh;
   margin-top:14vh;
}

.divArticle5{
    display: flex; 
    width: 90%;
}

.divLeftArticle5 {
    display:flex;
    flex-direction: column;
}

.pContentArt5 {
    font-family: 'theinhardt-lt';
    color:#848689;
}

body > main > article.article5 > div > div.divLeftArticle5 > div > p:nth-child(2) {
    margin-top: 2vh;
}

body > main > article.article5 > div > div.divLeftArticle5 > div > p:nth-child(5) {
    margin-top: 2vh;
}

body > main > article.article5 > div > div.divLeftArticle5 > div > p:nth-child(6){
    margin-top: 2vh;
}

.article6 h2{
    font-family: 'tiemposHeadline-semibold';
}

body > main > article.article6 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 1.15rem;
    margin-top: 10vh;
    gap: 3vhs;
}

body > main > article.article6 > img {
    height:66vh;
}

.pArticle6{
    font-family:'theinhardt-lt';
    text-align: center;
    color:#848689;
}

body > main > article.article6 > div {
    margin-top:4vh;
}

.article7{
    min-height: 38.5vh;
    margin-top: 15vh;
    width: 96%;
}

.divArticle7 {
    display: flex;
    flex-direction: column;
}

.pArt8 {
    font-family: 'graphik-medium';
    color:#848689;
    word-spacing: 0.1rem;
    line-height: 1.7rem;
}

.divRightArt8 img{
    height:30vh;
    margin-top: -7vh;
}

.divLeftArt7 {
    width: 30%;
}

.divArticle8 {
    display:flex;
    justify-content: flex-end;
    width: 70%;
}

.article8 {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

body > main > article.article7 > div > div > img {
    height: 39vh;
}

.divSeparator {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    border-bottom:1px solid lightgray;
}

body footer{
    margin-top: 11vh;
}
.divFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > footer > div > div > div {
    display: flex;
    align-items: self-end;
    margin-top: 2vh;
}

body > footer > div > div > div > img {
    height:9vh;
}

body > footer > div > div > h2 {
    font-family: 'tiemposHeadline-semibold';
    font-size: 2.2rem;
}

body > footer > div > div > div > p > span {
    color: #2B2C2E;
    font-weight: bold;
}

body > footer > div > div > div > p {
    font-family: 'graphik-medium';
}

.divBottom {
    margin-bottom: 3vh;
    margin-top: 6vh;
}

.pBottom {
    color: #848689;
}